fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

python-dotenv

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

langchain
langgraph

openai
google-generativeai

pgvector

pytest
httpx

python-multipart
email-validator

pypdf